body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(img/Background/19742.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}
